{% extends "layout/base.html" %}

{% block content %}

<h2>File Enttente</h2>
<table class="table table-striped" id="clientsTable">
<thead>
  <a href="{% url 'paiement_page' %}">  <button class="btn btn-sm btn-primary"> Gérer les Paiements </button></a>
  
    

<tr><th>Client</th><th>Service</th><th>Statut</th><th>Actions</th></tr>
</thead>
<tbody>
  {% for f in file %}
<tr>
  <td>{{f.client}}</td>
  <td>{{f.service}}</td>
   <td>{{f.service}}</td>


  <td>
    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editFiletModal">Commencer</button>
    <button class="btn btn-sm btn-danger">Terminer</button>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
